;
/source/
/.vscode/
;
/BT_Audio_APP/Release/
/BT_Audio_APP/.settings/com.andestech.ide.flash.ui.prefs
/MVsB1_Base_SDK/tools/remind_script/sound_remind_item.h
/MVsB1_Base_SDK/tools/remind_script/all.bin
/MVsB1_Base_SDK/tools/remind_script/temp
;
/MVsB1_Base_SDK/examples/Demo_AEC/Debug/
/MVsB1_Base_SDK/examples/AudioAlgLib/Debug/audio_alg_src
/MVsB1_Base_SDK/examples/AudioAlgLib/Debug/output
;
/MVsB1_Base_SDK/examples/Demo_AGC/Debug
;
/MVsB1_Base_SDK/examples/Demo_BT/Debug
;
/MVsB1_Base_SDK/examples/Demo_BT_Hfp/Debug
;
/MVsB1_Base_SDK/examples/Demo_Decoder/Debug
;
/MVsB1_Base_SDK/examples/Demo_Encoder/Debug
;
/MVsB1_Base_SDK/examples/Demo_Encryption_A/Debug
;
/MVsB1_Base_SDK/examples/Demo_Encryption_B/Debug
;
/MVsB1_Base_SDK/examples/Demo_FatFs/Debug
;
/MVsB1_Base_SDK/examples/Demo_FlashBoot/Debug
;
/MVsB1_Base_SDK/examples/Demo_FreeRTOS/Debug

;
/MVsB1_Base_SDK/examples//Debug
;
/MVsB1_Base_SDK/examples//Debug


;
/MVsB1_Base_SDK/examples/Demo_RGB/Debug
;
/MVsB1_Base_SDK/examples/Demo_RTC_Timer/Debug
;
/MVsB1_Base_SDK/examples/Example_ADC/Debug
;
/MVsB1_Base_SDK/examples/Example_AudioADC/Debug
;
/MVsB1_Base_SDK/examples/Example_AudioADC_AI/Debug
;
/MVsB1_Base_SDK/examples/Example_AudioDMIC/Debug
;
/MVsB1_Base_SDK/examples/Example_CAN/Debug
;
/MVsB1_Base_SDK/examples/Example_Clk/Debug
;
/MVsB1_Base_SDK/examples/Example_DAC/Debug
;
/MVsB1_Base_SDK/examples/Example_DMA/Debug
;
/MVsB1_Base_SDK/examples/Example_FFT/Debug
;
/MVsB1_Base_SDK/examples/Example_Flash/Debug
;
/MVsB1_Base_SDK/examples/Example_GPIO/Debug
;
/MVsB1_Base_SDK/examples/Example_I2C/Debug
;
/MVsB1_Base_SDK/examples/Example_I2S/Debug
;
/MVsB1_Base_SDK/examples/Example_IR/Debug
;
/MVsB1_Base_SDK/examples/Example_LEDC/Debug
;
/MVsB1_Base_SDK/examples/Example_PMU/Debug
;
/MVsB1_Base_SDK/examples/Example_PowerConsumption/Debug
;
/MVsB1_Base_SDK/examples/Example_PWC/Debug
;
/MVsB1_Base_SDK/examples/Example_PWM/Debug
;
/MVsB1_Base_SDK/examples/Example_RTC/Debug
;
/MVsB1_Base_SDK/examples/Example_SDIO/Debug
;
/MVsB1_Base_SDK/examples/Example_SPDIF/Debug
;
/MVsB1_Base_SDK/examples/Example_SPIM/Debug
;
/MVsB1_Base_SDK/examples/Example_SPIS/Debug
;
/MVsB1_Base_SDK/examples/Example_Timer/Debug
;
/MVsB1_Base_SDK/examples/Example_UART/Debug
;
/MVsB1_Base_SDK/examples/Example_USB/Debug
;
/MVsB1_Base_SDK/examples//Debug
*.o
*.d
;*.c
;*.h

# BT_Audio_APP/tools/audioeffect_list_to_parameters_script/target_file/AECParam_HFP.c
# BT_Audio_APP/tools/audioeffect_list_to_parameters_script/target_file/audio_effect_param.c
# BT_Audio_APP/tools/audioeffect_list_to_parameters_script/target_file/audio_effect_param.h
# BT_Audio_APP/tools/audioeffect_list_to_parameters_script/target_file/CommParam.c
# BT_Audio_APP/tools/audioeffect_parameters_script/source_file/CommParam.ini
# BT_Audio_APP/tools/audioeffect_parameters_script/source_file/CommParam.c
# BT_Audio_APP/tools/audioeffect_parameters_script/target_file/CommParam.c
